
@{
    ViewBag.Title = "Kategorie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kategorie</h2>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryui")

<link href="content/themes/base/all.css" rel="stylesheet" />
<script src="/Scripts/CollapsibleLists.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        CollapsibleLists.apply();
    });
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <ul class="treeView">
        @foreach (var k in Model.Kategorie)
        {
            <li>@k.NazwaKategorii</li>
            @PokazDrzewo(k.Kategorie)
        }
    </ul>
}

@helper PokazDrzewo(IEnumerable<EASY_KRK.Models.Kategoria> kategorie)
{
    <ul class="collapsibleList">
        @foreach (var kat in kategorie)
        {
            <li>
                @kat.NazwaKategorii <a href="">Usuń</a> <a href="">Edytuj</a>
                @if (kat.Kategorie.Any())
                {
                    @PokazDrzewo(kat.Kategorie)
                }
                else
                {
                    if (kat.Przedmioty.Any())
                    {
                        <a href=""><br />Zarządzaj przedmiotami</a>
                    }
                }
            </li>
        }
    </ul>
}

