@model EASY_KRK.Models.KategorieViewModel
@{
    ViewBag.Title = "Kategorie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kategorie</h2>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryui")

<link href="content/themes/base/all.css" rel="stylesheet" />
<script src="/Scripts/CollapsibleLists.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        CollapsibleLists.apply();

        if (!$("input[name=IdKategorii]:checked").val()) {
            $('.submit').prop('disabled', true);
        }

        $(".radio-kategoria").change(function (e) {
            $('.submit').prop('disabled', false);
        });

        $('form input').on('change', function() {
            var selected = $('input[name=IdKategorii]:checked', 'form').val();
            var url = "/Kategoria/StatusKategorii?IdKategorii=" + selected;

            var ajax = $.ajax({
                type: 'GET',
                url: "/Kategoria/StatusKategorii/",
                dataType: "json",
                data: { IdKategorii: selected },
                success: function (data) {
                    if (data.hasValue) {
                        $('#addCategory').prop('disabled', true);
                    }
                    else {
                        $('#addCategory').prop('disabled', false);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            });
        });
    });
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ActionLink("Dodaj kategorię", "DodajKategorie");

    <ul class="treeView">
        @foreach (var k in Model.Kategorie)
        {
            <li>
                @Html.RadioButtonFor(m => m.IdKategorii, k.IdKategorii, new { @class = "radio-kategoria" })
                @Html.Label(k.NazwaKategorii)
            </li>
            @PokazDrzewo(k.Kategorie)
        }
    </ul>

    <input type="submit" value="Dodaj podkategorię" name="Dodaj" class="btn btn-default submit" id="addCategory" />
    <input type="submit" value="Edytuj kategorię" name="Edytuj" class="btn btn-default submit" />
    <input type="submit" value="Usuń kategorię" name="Usun" class="btn btn-default submit" onclick="return confirm('Czy na pewno chcesz usunąć kategorię i wszystkie powiązane z nią przedmioty?');" />

}

@helper PokazDrzewo(IEnumerable<EASY_KRK.Models.Kategoria> kategorie)
{
    <ul class="collapsibleList">
        @foreach (var kat in kategorie)
        {
            <li>
                @Html.RadioButtonFor(m => m.IdKategorii, kat.IdKategorii, new {@class = "radio-kategoria" })
                @Html.Label(kat.NazwaKategorii)
                @if (kat.MinECTS.HasValue && kat.MinECTS > 0)
                {
                    @Html.Label("(min " + kat.MinECTS + " ECTS)")
                }
                @if (kat.Kategorie.Any())
                {
                    @PokazDrzewo(kat.Kategorie)
                }
            </li>
        }
    </ul>
}

