@model EASY_KRK.Models.DodajPrzedmiotViewModel

@{
    ViewBag.Title = "Edytuj przedmiot";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h2>Edytuj przedmiot</h2>
    <div id="dialog-dodaj-kek" style="display:none">
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryui")

<link href="content/themes/base/all.css" rel="stylesheet" />
<script type="text/javascript">
    $(document).ready(function () {
        var url = "";

        $("#linkDodajKEK").click(function (e) {
            e.preventDefault();
            url = $(this).attr("href");
            $("#dialog-dodaj-kek").dialog('open');
        });

        $("#dialog-dodaj-kek").dialog({
            autoOpen: false,
            resizable: false,
            height: 400,
            width: 450,
            title: 'Przypisz KEK',
            modal: true,
            show: { effect: 'drop', direction: "up" },
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            },
            buttons: {
                "Anuluj": function () {
                    $(this).dialog("close");
                }
            }
        });
    });
</script>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="dodaj-przedmiot col-sm-7">
            @Html.HiddenFor(m => m.Przedmiot.IdPrzedmiotu)
            @Html.LabelFor(m => m.Przedmiot.Kategoria.NazwaKategorii)
            @Html.DropDownListFor(m => m.Przedmiot.IdKategorii, Model.Kategorie)
            @Html.Raw("<br />")
            @Html.LabelFor(m => m.Przedmiot.KodPrzedmiotu)
            @Html.EditorFor(m => m.Przedmiot.KodPrzedmiotu)
            @Html.Raw("<br />")
            @Html.LabelFor(m => m.Przedmiot.NazwaPrzedmiotu)
            @Html.EditorFor(m => m.Przedmiot.NazwaPrzedmiotu)
            @Html.Raw("<br />")
            @Html.LabelFor(m => m.Przedmiot.IdFormyPrzedmiotu)
            @Html.DropDownListFor(m => m.Przedmiot.IdFormyPrzedmiotu, Model.FormyPrzedmiotu)
            @Html.Raw("<br />")
            @Html.LabelFor(m => m.Przedmiot.Ogolnouczelniany)
            @Html.CheckBoxFor(m => m.Przedmiot.Ogolnouczelniany, new { @class = "kurs-checkbox" })
            @Html.Raw("<br />")
            @Html.LabelFor(m => m.Przedmiot.IdRodzajuPrzedmiotu)
            @Html.DropDownListFor(m => m.Przedmiot.IdRodzajuPrzedmiotu, Model.Rodzaje)
            @Html.Raw("<br />")
            @Html.LabelFor(m => m.Przedmiot.IdTypuPrzedmiotu)
            @Html.DropDownListFor(m => m.Przedmiot.IdTypuPrzedmiotu, Model.Typy)
            @Html.Raw("<br />")
        </div>
        <div class="dodaj-przedmiot col-sm-4">
            <h4>Kierunkowe efeky kształcenia</h4> @Html.ActionLink("Dodaj", "PrzypiszKEK", new { IdPrzedmiotu = Model.Przedmiot.IdPrzedmiotu
                                                                                            , Edycja = true }, new { @id = "linkDodajKEK" }) <br />

            @foreach(var kek in Model.KEKI)
            {
                @Html.Label(kek.Kod, new { title = kek.Opis }) @Html.ActionLink("Usuń", "UsunKEK", new { IdPrzedmiotu = Model.Przedmiot.IdPrzedmiotu, IdKEK = kek.IdKEK})
            }
        </div>

    </div>

    <div class="row">
        <h4>Kursy i grupy kursów przedmiotu</h4>
    </div>
    <div class="row">

        @if (Model.Kursy.Count() > 0)
        {

            <div class="dodaj-przedmiot col-sm-2">
                <label></label>

                @Html.LabelFor(m => m.Kursy[0].ZZU)
                @Html.LabelFor(m => m.Kursy[0].CNPS)
                @Html.LabelFor(m => m.Kursy[0].PunktyECTS)
                @Html.LabelFor(m => m.Kursy[0].ECTS_P)
                @Html.LabelFor(m => m.Kursy[0].ECTS_BK)
                @Html.LabelFor(m => m.Kursy[0].FormaZal.NazwaFormyZal)
                @Html.LabelFor(m => m.Kursy[0].Praktyczny)
                @Html.Label("Grupa kursów?*")
            </div>

            for (var i = 0; i < Model.Kursy.Count(); i++)
            {
                <div class="dodaj-przedmiot col-sm-2">
                    <label>@Model.Kursy[i].FormaZajec.NazwaFormy</label>

                    @Html.HiddenFor(m => m.Kursy[i].IdFormyZajec)
                    @Html.HiddenFor(m => m.Kursy[i].IdKursu)
                    @Html.TextBoxFor(m => m.Kursy[i].ZZU, new { @class = "kurs-textbox" })
                    @Html.Raw("<br />")
                    @Html.TextBoxFor(m => m.Kursy[i].CNPS, new { @class = "kurs-textbox" })
                    @Html.Raw("<br />")
                    @Html.TextBoxFor(m => m.Kursy[i].PunktyECTS, new { @class = "kurs-textbox" })
                    @Html.Raw("<br />")
                    @Html.TextBoxFor(m => m.Kursy[i].ECTS_P, new { @class = "kurs-textbox" })
                    @Html.Raw("<br />")
                    @Html.TextBoxFor(m => m.Kursy[i].ECTS_BK, new { @class = "kurs-textbox" })
                    @Html.Raw("<br />")
                    @Html.DropDownListFor(m => m.Kursy[i].IdFormyZal, Model.FormyZaliczenia)
                    @Html.Raw("<br />")
                    @Html.CheckBoxFor(m => m.Kursy[i].Praktyczny, new { @class = "kurs-checkbox" })
                    @Html.Raw("<br />")
                    @Html.CheckBoxFor(m => m.Grupa[i], new { @class = "kurs-checkbox" })
                    @Html.Raw("<br />")
                </div>
            }
        }




    </div>
    <div class="row">
        <p>*Zaznaczyć, jeżeli dany kurs należy do grupy kursów</p>
        <input type="submit" value="Anuluj" name="Anuluj" class="btn btn-default" />
        <input type="submit" value="Edytuj" name="Edytuj" class="btn btn-default" />
    </div>
}

