@model EASY_KRK.Models.PrzedmiotyViewModel
@{
    ViewBag.Title = "Przedmioty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Przedmioty</h2>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryui")

<link href="content/themes/base/all.css" rel="stylesheet" />
<script src="/Scripts/CollapsibleLists.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        CollapsibleLists.apply();
        var url = "";

        $("#linkDodajKEK").click(function (e) {
            e.preventDefault();
            var selectedVal = "";
            var selected = $("input[type='radio'][name='IdPrzedmiotu']:checked");
            if (selected.length > 0) {
                selectedVal = selected.val();
            }
            url = "/Przedmiot/PrzypiszKEK?IdPrzedmiotu="+selectedVal+"&Edycja=False";
            $("#dialog-dodaj-kek").dialog('open');
        });

        $("#dialog-dodaj-kek").dialog({
            autoOpen: false,
            resizable: false,
            height: 400,
            width: 450,
            title: 'Przypisz KEK',
            modal: true,
            show: { effect: 'drop', direction: "up" },
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            },
            buttons: {
                "Anuluj": function () {
                    $(this).dialog("close");
                }
            }
        });
    });
</script>

<div id="dialog-dodaj-kek" style="display:none">

</div>


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <ul class="collapsibleList">
        @foreach (var k in Model.Kategorie)
        {
            <li>@k.NazwaKategorii</li>
            @PokazDrzewo(k.Kategorie)
        }
    </ul>

    <input type="submit" value="Przypisz KEK" name="Przypisz" class="btn btn-default" id="linkDodajKEK" />
    <input type="submit" value="Edytuj" name="Edytuj" class="btn btn-default" />
    <input type="submit" value="Usuń" name="Usun" class="btn btn-default" onclick="return confirm('Czy na pewno chcesz usunąć przedmiot i wszystkie powiązane z nim kursy/grupy kursów?');" />
}



@helper PokazDrzewo(IEnumerable<EASY_KRK.Models.Kategoria> kategorie)
{
    <ul>
        @foreach(var kat in kategorie)
        {
            <li>
                @kat.NazwaKategorii
                @if(kat.Kategorie.Any())
                {
                    @PokazDrzewo(kat.Kategorie)
                }
                else
                {
                    @Html.Raw("<br />")
                    @Html.ActionLink("Dodaj przedmiot", "DodajPrzedmiot", new { IdKategorii = kat.IdKategorii });
                    @Html.Raw("<br />")
                    
                    foreach (var przedmiot in kat.Przedmioty)
                    {
                        @Html.RadioButtonFor(m => m.IdPrzedmiotu, przedmiot.IdPrzedmiotu)
                        @Html.Label(przedmiot.NazwaPrzedmiotu)
                        @Html.Raw("<br />");
                     }
                }
            </li>
        }
    </ul> 
}





