@model EASY_KRK.Models.PrzedmiotyViewModel
@{
    ViewBag.Title = "Przedmioty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Przedmioty</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <ul>
    @foreach (var k in Model.Kategorie)
    {
        <li>@k.NazwaKategorii</li>
        @PokazDrzewo(k.Kategorie)
    }
    </ul>
    
    <input type="submit" value="Przypisz KEK" name="Przypisz" class="btn btn-default" />
    <input type="submit" value="Edytuj" name="Edytuj" class="btn btn-default" />
    <input type="submit" value="Usuń" name="Usun" class="btn btn-default" onclick="return confirm('Czy na pewno chcesz usunąć przedmiot i wszystkie powiązane z nim kursy/grupy kursów?');" />
}



@helper PokazDrzewo(IEnumerable<EASY_KRK.Models.Kategoria> kategorie)
{
    <ul>
        @foreach(var kat in kategorie)
        {
            <li>
                @kat.NazwaKategorii
                @if(kat.Kategorie.Any())
                {
                    @PokazDrzewo(kat.Kategorie)
                }
                else
                {
                    @Html.Raw("<br />")
                    @Html.ActionLink("Dodaj przedmiot", "DodajPrzedmiot", new { IdKategorii = kat.IdKategorii });
                    @Html.Raw("<br />")
                    
                    foreach (var przedmiot in kat.Przedmioty)
                    {
                        @Html.RadioButtonFor(m => m.IdPrzedmiotu, przedmiot.IdPrzedmiotu)
                        @Html.Label(przedmiot.NazwaPrzedmiotu)
                        @Html.Raw("<br />");
                     }
                }
            </li>
        }
    </ul> 
}





