@model EASY_KRK.Models.PrzypiszKEKViewModel

<h4>Przedmiot: @Model.NazwaPrzedmiotu</h4>

<h3>Kierunkowe efekty kształcenia</h3>

@using (Ajax.BeginForm("FiltrujKEK", "Przedmiot", new AjaxOptions
 {
     HttpMethod = "Post",
     UpdateTargetId = "ListaKEK",
 }))
{

    <div style="display:inline">
        @Html.EditorFor(model => model.Filtr)
        @Html.HiddenFor(model => model.IdPrzedmiotu)
        @Html.HiddenFor(model => model.Edycja)
        <input type="submit" value="Filtruj" class="btn btn-default" />
    </div>
}



<div id="ListaKEK"> @Html.Partial("ListaKEK", Model)</div>


<br /><br />

